* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header-sec, 
.footer-sec {
  background-color: #1F2937;
}

.logo h2,
.hero-title,
.footer-sec p,
.hero-img,
.cta-text,
.sign-up {
  color: #F9FAF8;
}

.links a,
.hero-secondary {
  color: #E5E7EB;
}

.sign-up,
.cta-block {
  background-color: #3882F6;
}

.logo h2 {
  font-size: 24px;
}

.links  {
  list-style-type: none;
}

.links a {
  text-decoration: none;
}

.hero-img {
  background-color: gray;
  height: 200px;
  width: 400px;
}

.random-img {
  border: 3px solid #3882F6;
  height: 125px;
  width: 125px;
}

.quote-sec {
  background-color: #E5E7EB;
}

.quote-source {
  font-weight: bold;
}
